.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.search-bar input {
 width: 80%;
 margin-left: 25px;
}

.header {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom:5px;
}

.filtrable-product-table {
  margin: auto;
  padding: 15px;
  width: 800px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}