.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.search-bar {
  margin: auto;
}

.search-bar input {
 width: 800px;
}

.header {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom:5px;
}

.filtrable-product-table {
  margin: auto;
  width: 800px;
}